<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Test Suite" verbose="2">
    <test name="Login and Cart Tests">
        <classes>
            <class name="com.selenium.tests.LoginAndCartTest"/>
        </classes>
    </test>
</suite>
